<div>
    <h1 style="text-align: center;margin-top: 10px;">List of users waiting for role assignation :</h1>
  </div>
  
  <div class="container">
      <div class="row">
          
          <div class="table mt-5 col-12">
  
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let User; index as i"> {{i+1}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let user"><a [routerLink]="['/updateuser',user.userId]">{{user.userName}}</a> </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> User Role Status </th>
        <td mat-cell *matCellDef="let user"> Normal-user </td>
      </ng-container>
    
      
  
      
        
      
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
  </div>
  </div>