
<!-- <div class="main-div container-fluid mt-5">
    <div class="row pt-5">
        <div class="col-md-4 offset-md-4 mt-5">
            <mat-card>
                <mat-toolbar color="primary">Login Page</mat-toolbar>
                <form action="" fxLayoutAlign=stretch class="login-form" fxLayout="column" (ngSubmit)="onSubmit()">
                    <button mat-raised-button type="submit" [routerLink]="['/register']" class="mt-3">Register</button>
                    <mat-form-field class="mt-3">
                        <input [(ngModel)]="credentials.username" name="username" required matInput placeholder="Username">
                    </mat-form-field>
                    
                    <mat-form-field>
                        <input [(ngModel)]="credentials.password" name="password" required matInput type="password" placeholder="Password">
                    </mat-form-field>
                    <div *ngIf="incorrect">
                        <p style="color: red;">Incorrect username or password </p>
                    </div>
                    <button mat-raised-button type="submit" class="mt-3">Login</button>
                </form>
            </mat-card>
        </div>
    </div>
</div> -->

<body>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
            <div class="card-img-left d-none d-md-flex">
              <!-- Background image for card set in CSS! -->
            </div>
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title text-center mb-5 fw-light fs-5">Login</h5>
              
              <form (ngSubmit)="onSubmit()">
  
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInputUsername" placeholder="myusername" required autofocus name="username" [(ngModel)]="credentials.username" name="username">
                  <label for="floatingInputUsername">Username</label>
                </div>
  
                <hr>
  
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="credentials.password" name="password">
                  <label for="floatingPassword">Password</label>
                </div>

                <div *ngIf="incorrect">
                    <p style="color: red;">Incorrect username or password </p>
                </div>
  
                <div class="d-grid mb-2">
                  <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Submit</button>
                </div>
  
                <a class="d-block text-center mt-2 small" [routerLink]="['/register']">Don't have an account? Register here</a>
  
                <hr class="my-4">
  
                
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>